@font-face {
  font-family: "NeueHaas";
  src:
    local("NeueHaas"),
    url("assets/fonts/NeueHaasUnicaW1G-Regular.otf") format("opentype");
}

:root {
  font-family: NeueHaas, Helvetica, Arial, sans-serif;
  font-size: 62.5%;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  color-scheme: light dark;

  --spacing-xs: 0.25rem;
  --spacing-md: 2.5rem;

  --color-text: #000000;

  --color-bg-light: rgba(255, 255, 255, 1);

  --cursor-primary: url("./assets/arrows/Arrow-V2.svg"), auto;
  --cursor-left: url("./assets/arrows/Back-V2.svg"), auto;
  --cursor-right: url("./assets/arrows/Forward-V2.svg"), auto;
  --cursor-expand: url("./assets/arrows/Expand-V2.svg"), auto;

  --screen-md: 1000px;
}

html {
  background-color: var(--color-bg-light);
}

body {
  font-size: 1.3rem;
}

h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin: 0;
}

h2 {
  font-size: 2rem;
  text-transform: uppercase;
}

a {
  display: inline-block;
  cursor: var(--cursor-primary);
  color: var(--color-text);
  text-decoration: none;
  padding-bottom: var(--spacing-xs);
  margin-bottom: var(--spacing-xs);

  &:hover {
    padding-bottom: 0;
    border-bottom: var(--spacing-xs) solid var(--color-text);
  }

  &.home-navigation:hover {
    border: none;
  }
}


@media (prefers-color-scheme: dark) {
  :root {
    --color-text: #FFFFFF;

    --color-bg-light: rgba(30, 30, 30, 1);

    --cursor-primary: url("./assets/arrows/Arrow-V2-White.svg"), auto;
    --cursor-left: url("./assets/arrows/Back-V2-White.svg"), auto;
    --cursor-right: url("./assets/arrows/Forward-V2-White.svg"), auto;
    --cursor-expand: url("./assets/arrows/Expand-V2-White.svg"), auto;
  }
}
