@font-face {
  font-family: "NeueHaas";
  src:
    local("NeueHaas"),
    url("assets/fonts/NeueHaasUnicaW1G-Regular.otf") format("opentype");
}

:root {
  font-family: NeueHaas, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 62.5%;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --spacing-xs: 0.25rem;
  --spacing-md: 2.5rem;

  --color-bg-light: #FFFFFF;


}

html, a {
  cursor: url("./assets/arrows/Arrow-V2.svg"), auto;
}

body {
  font-size: 1.3rem;
}

h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin: 0;
}

h2 {
  font-size: 2rem;
  text-transform: uppercase;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
